<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".transportPayment"></activity>
        <activity android:name=".userSchedule" />
        <activity android:name=".transportListDetails" />
        <activity android:name=".transportList" />
        <activity
            android:name=".accountConst"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".index"
            android:label="@string/title_activity_index" />
        <activity
            android:name=".register"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".loadConst"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>